<a href="https://colab.research.google.com/github/Aldistwn29/Phyton-fundamental/blob/main/advance_regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Find all matched substring occurence

In [ ]:
while($string =~ m/regex/g){
    print "Ditemukan '$&', kemunculan selanjutnya pada karakter ".post($string)+1. "\n"
}

# VS

In [ ]:
import re

re.findall(pattern, string[, flag])

findall mengembalikan semua kecocokan pola ynag tidak tumpang tindih dalam string, sebagai daftar string. String dipindahkan dari kiri ke kanan, dan kecocokan dikembalikan sesui urutan ditentukannya.

In [ ]:
import re

t ="A fat cat doens't eat oat but a rat eats bats."
mo = re.findall("[force]at",t)
print(mo)

['fat', 'cat', 'eat', 'oat', 'rat', 'eat']

jika satu atau lebih group ada dalam pola, findall mengembalikan list group. ini akan menjadi daftar tupel jika polanya memiliku lebih dari satu grup. kita menunjukan ini dalam contoh berikutnya, kita memiliki rangkaian panjang dengan berbagai kursus pelatihan phyton dan tanggalnya. Dengan panggilan pertama ke findall, kita tidak menggunakan pengelompokan apapun dan sebagai hasilnya menerima string lengkap. Dalam panggilan berikutnya, kita menggunakan pengelompokan dan findall mengembalikan daftar 2-tuple, masing-masing memiliki nama kursus sebagai komponen pertama dan tanggal sebagai komponen kedua:

In [ ]:
import re
courses = '''Python Training Course for Beginners: 15/Aug/2011 - 19/Aug/2011; Python Training Course for Beginners: 12/Dec/2011 - 16/Dec/2011; Python Training Course for Beginners: 31/oct/2011 - 4/Nov/2011'''
items = re.findall("[^:]*:[^;]*;?", courses)
print(items)

['Python Training Course for Beginners: 15/Aug/2011 - 19/Aug/2011;', ' Python Training Course for Beginners: 12/Dec/2011 - 16/Dec/2011;', ' Python Training Course for Beginners: 31/oct/2011 - 4/Nov/2011']

In [ ]:
items = re.findall("([^:]*):([^;]*;?)", courses)
items

[('Python Training Course for Beginners', ' 15/Aug/2011 - 19/Aug/2011;'),
 (' Python Training Course for Beginners', ' 12/Dec/2011 - 16/Dec/2011;'),
 (' Python Training Course for Beginners', ' 31/oct/2011 - 4/Nov/2011')]

In [ ]:
import re
courses = '''Python Training Course For Beginners: 15/Aug/2001 - 19/Aug/2011; Python Training Course For Beginners: 12/Dec/2011 - 16/Dec/2011; Python Training Course For Beginners: 31/Oct/2011 - 4/Nov/2011'''
items = re.findall("[^:]*:[^;]*;?", courses)
items

['Python Training Course For Beginners: 15/Aug/2001 - 19/Aug/2011;',
 ' Python Training Course For Beginners: 12/Dec/2011 - 16/Dec/2011;',
 ' Python Training Course For Beginners: 31/Oct/2011 - 4/Nov/2011']

In [ ]:
import re
my_birthday = '''This is My Birthday: 29/maret/2003'''
items = re.findall("[^:]*:[^:]*:?", my_birthday)
print(items)

['This is My Birthday: 29/maret/2003']

# Alternation (Subsitusi)

In [ ]:
import re
str = "Course location is Jakarta or zurich"
mo = re.search(r"location.*(Jakarta|Bandung|Strasbourg)", str)
if mo:print(mo.group())

location is Jakarta

In [ ]:
import re

text = "Cuaca di Jakarta akan cerah. Di Bandung akan hujan. Starsbourg berawan"

# Mencari informasi cuaca untuk jakarta, Bandung atau starsbourg
matches = re.findall(r"(Jakarta|Bandung|Starsbourg) [a-zA-z]+", text)

if matches:
  for match in matches:
    print(f"Informasi cuaca untuk: {match}")
    # Selanjutnya, Anda dapat melakukan sesuatu dengan informasi cuaca untuk setiap lota.

else:
  print("Tidak ada informasi cuaca untuk kota yg dicari.")

Informasi cuaca untuk: Jakarta
Informasi cuaca untuk: Bandung
Informasi cuaca untuk: Starsbourg

jika anda menganggap contoh sebelumnya terlalu artifisial, ini satu lagi. mari kita asumsikan, anda ingin memfilter email anda. anda ingin menemukan semua korespondensi(percakapan) antara anda dan tutor myskill ekspresi reguler ekspresi berikut berguna untuk tujuan ini:
r"(^To:|From:)(Tutor|My.Skill)"

Ekpresi ini cocok dengan baris yg dimulai dengan "To" atau "From". diikuti dengan spasi dan kemudian dengan nama depan "My" atau nama belakang ."MySkill"

# Spliting String dengan dan tanpa RegEx

# split tanpa Regex

str.split([sep[, maxsplit]])

In [ ]:
law_courses = "Let reverence for the laws be breathed by every American mother to the lisping babe that prattles on her lap. Let it be taught in schools, in seminaries, and in colleges. Let it be written in primers, spelling books, and in almanacs. Let it be preached from the pulpit, proclaimed in legislative halls, and enforced in the courts of justic . And, in short, let it become the political religion of the nation."
law_courses.split()

['Let',
 'reverence',
 'for',
 'the',
 'laws',
 'be',
 'breathed',
 'by',
 'every',
 'American',
 'mother',
 'to',
 'the',
 'lisping',
 'babe',
 'that',
 'prattles',
 'on',
 'her',
 'lap.',
 'Let',
 'it',
 'be',
 'taught',
 'in',
 'schools,',
 'in',
 'seminaries,',
 'and',
 'in',
 'colleges.',
 'Let',
 'it',
 'be',
 'written',
 'in',
 'primers,',
 'spelling',
 'books,',
 'and',
 'in',
 'almanacs.',
 'Let',
 'it',
 'be',
 'preached',
 'from',
 'the',
 'pulpit,',
 'proclaimed',
 'in',
 'legislative',
 'halls,',
 'and',
 'enforced',
 'in',
 'the',
 'courts',
 'of',
 'justic',
 '.',
 'And,',
 'in',
 'short,',
 'let',
 'it',
 'become',
 'the',
 'political',
 'religion',
 'of',
 'the',
 'nation.']

**Sekarang** kita melihat string, yang dapat berasal dari file calc Excel atau OpenOffice. Kita telah melihat pada contoh sebelumnya bahwa split mengambil spasi putih sebagai pemisah default. kita ingin membagu string dalam contoh kecil berikut menggunakan titik koma sebagai pemisah. Satu-satunya hal yg harus kita lakukan adalah menggunakan ";" sebagai argumen split():

In [ ]:
line = "Aldi;Febri;Ryan"
line.split(";")

['Aldi', 'Febri', 'Ryan']

Method split() memiliki parameter opsional lain: maxsplit. jika maxsplit diberikan, paling banyak maxsplit dilakukan. ini berarti daftar yang di hasilkan akan memiliki paling bnyk elemen "maxsplit +1" kita akan mengilustrasikan mode oprasi maxsplit dalam contoh berikut:

In [ ]:
mammom = "The god of the world's leading religion. The chief temple is in the holy city of New York."
mammom.split(" ",4)

['The',
 'god',
 'of',
 'the',
 "world's leading religion. The chief temple is in the holy city of New York."]

Kita menggunaka Kosong sebagai string pembatas pada contoh sebelumnya , yang dapat menjadi masalah: jika beberapa kosong atau spasi terhubung, split() akan membagi string setelah setiap kosong, sehingga kita dapat mendapatkan string dan string kosong hanya dengan tab di dalam('\t') dalam daftar hasil kita:

In [ ]:
mammom = "The god  \t of the world's leading religion. The chief temple is in the holy city of New York."
mammom.split(" ", 5)

['The',
 'god',
 '',
 '\t',
 'of',
 "the world's leading religion. The chief temple is in the holy city of New York."]

Kita dapat mecegah pemisah string kosong dengan menggunakan None sebagai argumen pertama. Sekarang split akan menggunakan perilaku default, yaitu setiap substring yang terdiri dari krakter spasi putih yang terhubung akan di ambil sebagai satu pemisah:

In [ ]:
mammom.split(None,5)

['The',
 'god',
 'of',
 'the',
 "world's",
 'leading religion. The chief temple is in the holy city of New York.']

# Split dengan Regex

*Metode* string split() adalah alat yang tepat dalam banyak kasus, tetapi apa, jika anda mau, mis. untuk mendapatkan kata-kata kosong dari sebuah teks, yaitu tanpa krakter khusus dan spasi. jika kita menginginkan ini, kita harus menggunakan fungsi split dari model re. Kita mengilustrasikan metode ini dengan teks singkat dari awal Metamorphoses oleh Ovid:

In [ ]:
import re
metanorphoses = "OF bodies change'd to various forms, I sing: Ye Gods, from whom these mircales did spring, Inspire my numbers with colestial heat;"
re.split("\W+", metanorphoses)

['OF',
 'bodies',
 'change',
 'd',
 'to',
 'various',
 'forms',
 'I',
 'sing',
 'Ye',
 'Gods',
 'from',
 'whom',
 'these',
 'mircales',
 'did',
 'spring',
 'Inspire',
 'my',
 'numbers',
 'with',
 'colestial',
 'heat',
 '']

Contoh berikut adalah kasus yang bagus, dimana ekspresi reguler benar-benar lebih unggul daripada pemisahan string. Mari kita asumsikan bahwa kita memiliki baris data dengan nama keluarga, nama depan, dan nama profesi. kita ingin menghapus baris data dari deskripsi teks yang berlebihan dan berlebihan, yaitu "nama keluarga:","nama depan:" dan seterusnya, sehingga kita hanya memiliki nama keluarga di kolam pertama, nama pertama di kolam kedua dan profesi di kolam ketiga:

In [ ]:
import re
lines = ["surname: Nelson, prename: Mandela, profession: president", "surname: Marky, prename: Subarjo, profession: diplomat"]
for line in lines:
    print(re.split(",* *\w*: ", line))

['', 'Nelson', 'Mandela', 'president']
['', 'Marky', 'Subarjo', 'diplomat']

Kita dapat dengan mudah meningkatkan skrip dengan menggunakan operator slice, sehingga kita tidak memiliki string kosong sebagai elemen pertama dari daftar hasil kita:

In [ ]:
import re
lines = ["surname: Nelson, prename: Mandela, profession: president", "surname: Marky, prename: Subarjo, profession: diplomat"]
for line in lines:
    print(re.split(",* *\w*: ", line)[1:])

['Nelson', 'Mandela', 'president']
['Marky', 'Subarjo', 'diplomat']

Search dan Replace dengan sub()

re.sub(regex,replacement,subject)

In [2]:
import re
str = "yes I sad yes I will yes"
res = re.sub("[Yy]es","no", str)
print(res)

no I sad no I will no