<a href="https://colab.research.google.com/github/Aldistwn29/Phyton-fundamental/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Defining Dictionary

In [ ]:
dicts = {'a':1,'b':2,'c':3}
print(dicts)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
football_team = dict([
    ('Manchester','Manchester United'),
    ('London','Chelsea'),
    ('Leeds','Leeds United'),
    ('Newcastle Upon Tyne','Newcastle United')
])
print(football_team)

{'Manchester': 'Manchester United', 'London': 'Chelsea', 'Leeds': 'Leeds United', 'Newcastle Upon Tyne': 'Newcastle united'}

In [ ]:
football_team = dict(
    Manchester='Manchester United',
    London='Chelsea',
    Leeds='Leeds United',
    NewcastleUT='Newcastle United'
)
print(football_team)

{'Manchester': 'Manchester United', 'London': 'Chelsea', 'Leeds': 'Leeds United', 'NewcastleUT': 'Newcastle United'}

# Accessing Dictionary

In [ ]:
football_team[2]

KeyError: ignored

access by square bracket[]

In [ ]:
print(football_team['Manchester'])

Manchester United

jika anda merujuk ke key yg tidak ada dalam dictionery.python memunculkan exception

In [ ]:
print(football_team['Liverpool'])

KeyError: ignored

adding new entry

In [ ]:
football_team['Licester'] = 'Licester City'
print(football_team)
football_team ['London'] = 'Arsenal'
print(football_team)

{'Manchester': 'Manchester United', 'London': 'Chelsea', 'Leeds': 'Leeds United', 'NewcastleUT': 'Newcastle United', 'Licester': 'Licester City'}
{'Manchester': 'Manchester United', 'London': 'Arsenal', 'Leeds': 'Leeds United', 'NewcastleUT': 'Newcastle United', 'Licester': 'Licester City'}

delete enty using del

In [ ]:
del football_team['NewcastleUT']
print(football_team)

{'Manchester': 'Manchester United', 'London': 'Arsenal', 'Leeds': 'Leeds United', 'Licester': 'Licester City'}

# Dictionary key vs List Indexing

In [ ]:
football_team['NescastleUT']

KeyError: ignored

In [ ]:
football_team[2]

KeyError: ignored

Faktanya itu adalah kesalahan yang sama. Dalam kasus terakhir [2] terlihat seperti index numerik. tetapi tidak anda akan melihat tutorial ini bahwa objek dari jenis apapun yg tidak dapat di ubah dapat di gunakan sebagai kunci dictionary. oleh karena itu tidak ada alasan anda tidak menggunakan bilangan bulat

In [ ]:
f ={0:'a', 1:'l', 3:'i', 2:'d'}
print(f)
print(f[3])
print(f[2])
print(f[0])

{0: 'a', 1: 'l', 3: 'i', 2: 'd'}
i
d
a

dalam ekpresi football_team[2] dan f[2] angka-angka dalam kurung siku tampak seperti index. tetapi mereka tidak ada hubungannya dengan urutan item dalam dictionary. python menafsirkannya sebagai kunci dictionary. jika anda menafsirkan dict yg sama ini dalam urutan terbalik. anda masih mendapatkan nilai yg sama menggunakan kunci yg sama.

In [ ]:
f ={0:'a', 1:'l', 3:'i', 2:'d'}

print(f[0])
print(f[2])

a
d

# Building a Dictonary incrementally

In [ ]:
person = {}
type(person)

person['fname'] = 'Aldi'
person['lname'] = 'Leonardo da pisa'
person['age'] = 20
person['spouse'] = 'None'
person['children'] = ['Khadaffi', 'Asika', 'Ibrahim']
person['pats'] = {'dog':'Blacking', 'cat':'Ketty'}

In [ ]:
print(person)

print(person['fname'])
print(person['age'])
print(person['children'])

{'fname': 'Aldi', 'lname': 'Leonardo da pisa', 'age': 20, 'spouse': 'None', 'children': ['Khadaffi', 'Asika', 'Ibrahim'], 'pats': {'dog': 'Blacking', 'cat': 'Ketty'}}
Aldi
20
['Khadaffi', 'Asika', 'Ibrahim']

mengambil velue dalam sublist/subdictionery menggunakan indeks atau keys tambahan

In [ ]:
print(person['children'][0])
print(person['children'][-1])
print(person['pats']['dog'])

Khadaffi
Ibrahim
Blacking

contoh ini menunjukan bahwasannya fitur lain dalam dict: nilai yg terkandung dalam dict tidak harus bertipe sama. contoh beberapa nilai adalah str, satu adalah bilangan bulat, satu lagi adalah bilangan daftar, dan satu lagi adalah dict. sama seperti nilai pada dict tidak perlu sama dan kuncinya juga harus berbeda.

In [ ]:
hoo = {29:'aaa', 3.33:'bbb', True:"iii"}
print(hoo)

print(hoo[29])
print(hoo[3.33])
print(hoo[True])

{29: 'aaa', 3.33: 'bbb', True: 'iii'}
aaa
bbb
iii

disini, salah satu kuncinya adalah bilangan bulat, Float, dan boolean. tidak di jelasakan bahwa itu bagaimana berguna.
perhatikan betapa serba gunanya dict di python, seperti football_team yg dimana dalam di dalam variabel tersebut menginformasikan yg sama(nama time sepak  bola) disimpan untuk masing-masing dari beberapa lokasi geografis yg berbeda, di sisi lain, menyimpan berbagai jenis data untuk satu orang.
anda juga dapat menggunakan dict untuk berbgai tujuan karena hanya ada sedikit batasan pada kunci dan nilai yg di izinkan.

# Restericition in Key Dictionary

In [ ]:
foo ={27:"aaa",4.35:"bbb",False:"ccc"}
a = {int: 23, float: 45, bool: 34}
a = {bin:1, hex: 3, oct: 2}
print(a)
print(foo)

{<built-in function bin>: 1, <built-in function hex>: 3, <built-in function oct>: 2}
{27: 'aaa', 4.35: 'bbb', False: 'ccc'}

no duplicate kay

In [ ]:
fottball_team ={
    "Manchestr" : "Manchester City",
    "London" : "chalsea",
    "Leeds" : "Leeds United",
    "Newcastle Upon Tyne" : "Newcastle United",
    "Manchester" : "Manchester united",
    "London" : "Arsenal",
}
fottball_team

{'Manchestr': 'Manchester City',
 'London': 'Arsenal',
 'Leeds': 'Leeds United',
 'Newcastle Upon Tyne': 'Newcastle United',
 'Manchester': 'Manchester united'}

Key did must immutable

In [ ]:
d = {(1,2): 'a', (1,1): 'b', (2,2): 'c'}
d[(2,2)]

d[(1,1)]

'b'

In [ ]:
d = {[2,3]: 'a', [2,2]: 'b', [2,1]: 'c', [2,0]: 'd'}
d[[2,3]]

TypeError: ignored

Restricion in Value Dictionary

In [ ]:
d = {0: 'a', 1: 'a', 2: 'c', 3: 'a'}
d
d[0] == d[1]

True

# Built-in Dictionary Methods

d.clear()

d.clear() mengosongkan dict d dari semua pasangan nilai kunci

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d)

d.clear()
print(d)

{'a': 10, 'b': 20, 'c': 30}
{}

d.get()

Metode, get() dict Python menyediakan cara mudah untuk mendapatkan nilai kunci dari dict tanpa memeriksa terlebih dahulu apakah kunci itu ada, dan tanpa memunculkan kesalahan
d.get() mencari dict d untuk mengembalikan nilai yg terkait bila ditemukan. Jika tidak di temukan, ia mengembalikan dengan None

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d.get('a'))

print(d.get('f'))

10
None

d.items()

d.items() mengembalikan daftar tupel yg berisi pasangan nilai kunci di d. item pertama di setiap tupel adalah kuncinya, item kedua adalah nilai kuncinya

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
print(d)

list(d.items())
# list(d.items())[1][0]
list(d.items())[2][1]
list(d.items())[2]
list(d.items())[1]

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

('b', 20)

In [ ]:
list(d.items())[2]

('c', 30)

In [ ]:
list(d.items())[0]

('a', 10)

In [ ]:
list(d.items())[3]

('d', 40)

In [ ]:
list(d.items())[1][1]

20

In [ ]:
list(d.items())[2][1]

30

In [ ]:
list(d.items())[3][1]

40

# d.keys()

d.keys()

keys() mengembalikan daftar semua kunci di d

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
print(d)

list(d.keys())

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

['a', 'b', 'c', 'd']

d.update()

In [ ]:
d1 = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
d2 = {'a' : 500, 'e': 50}
print(d1)

d1.update(d2)
d1

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

{'a': 500, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

pop()

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
# d.pop('a')
# d

d.pop('b')
d

{'a': 10, 'c': 30, 'd': 40}

d.popitem()

In [ ]:
d ={'a': 10, 'b': 20, 'c': 30, 'd': 40}
print(d)

d.popitem()
print(d)

d.popitem()
print(d)
d.popitem()
print(d)
d.popitem()
print(d)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'b': 20}
{'a': 10}
{}