<a href="https://colab.research.google.com/github/Aldistwn29/Phyton-fundamental/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Phyton Function

In [ ]:
# function definition
def greet(nama):
  """
  Fungsi ini menyap nama
  orang yang masuk sebagai
  sebuah prameter
  """
  print("Hello, " + nama + ". Good Morning! Welcome To Home")

In [ ]:
print(greet.__doc__)

  Fungsi ini menyap nama
  orang yang masuk sebagai
  sebuah prameter

In [ ]:
greet('ALDI')

Hello, ALDI. Good Morning! Welcome To Home

In [ ]:
greet('ismi')

Hello, ismi. Good Morning! Welcome To Home

In [ ]:
# def greet(name):
#     """
#     Fungsi untuk menyapa pengguna berdasarkan nama yang diberikan.
#     """
#     return f"Halo, {name}! Happy wedding!"

Halo, ismi! Happy wedding!

In [ ]:
# nama_pengguna = "ismi"
# ucapan_selamat = greet(nama_pengguna)
# print(ucapan_selamat)

Halo, ismi! Happy wedding!

In [ ]:
def bersihkan_folder(nama_folder):
  """
  perintah ini digunakan
  untuk menghapus folder
  """
  print(f"Folder {nama_folder} telah dibersihkan.")

In [ ]:
print(bersihkan_folder.__doc__)

  perintah ini digunakan
  untuk menghapus folder

In [ ]:
bersihkan_folder('poto')

Folder poto telah dibersihkan.

# Function Argument

In [ ]:
def greet(name,msg):
  """Fungsi ini menyapa
  orang dengan pesan yang di berikan"""
  print("Hello", name + ',' + msg)

greet("Aldi", "Good Luck!")

Hello Aldi,Good Luck!

# Phython Default Arguments

ketika dapat memberikan nilai default ke argument dengan menggunakan oprator penugasan (=) berikut adalah contohnya

In [ ]:
def greet(name, msg ='Good Luck!'):
  """
  Fungsi ini menyapa
  orang dengan
  pesan yang di sediakan.
  jika pesan tidak
  diberikan, Defaultnya
  "Good Luck"
  """

  print("Hello", name +', ' + msg)

greet("Aldi")
greet("Aldi", "Good Night!")

Hello Aldi, Good Luck!
Hello Aldi, Good Night!

Sejumlah argument dalam suatu fungsi dapet memiliki nilai default, Tetapi begitu kita memiliki argument semua argumen di sebelah kananya juga harus memiliki nilai default

# Python Keyword Argument

saat kita memanggil fungsi dengan beberapa nilai-nilai ini di gunakan pada argument sesuai dengan posisinya.
sebagai contoh, pada fungsi di atas greet("Aldi","Good Night!") itu artinya nilai "Aldi" diberikan ke name argumen dan juga "Good Night!" ke msg
python menggunakan funsgi dipanggil menggunkan kata kunci. ketika kita memanggil fungsi dengan cara ini urutan(posisi) argumen dapat diubah panggilan berikut ke fungsi di ats semuanya valid dan menghasilkan hal yg sama

In [ ]:
# 1 keyword arguments
greet(name ="Aldi", msg= "Good Night!")

# 1 keyword arguments (out of order)
greet(msg = "Good Night!", name = "Aldi")

# 1 positional, keyword arguments
greet("Aldi", msg = "Good Night!")

Hello Aldi, Good Night!
Hello Aldi, Good Night!
Hello Aldi, Good Night!

# Phyton Arbitrary Argument

Terkadang, kita tidak mengetahui jumlah argumen yg akan di masukan ke dalam suatu fungsi.phyton memungkinkan kita untuk menangani situasi semacam ini melalui pemanggilan fungsi dengan sejumlah argumen yg berubah-ubah.
dalam definisi fungsi,kita menggunakan tanda (*) sebelum nama prameter untuk menunjukan argumen ini . berikut adalah contoh

In [ ]:
def greet(*names):
  """Funsgi ini menyapa semua orang
    dengan nama Tuple."""

  # names is a tuple with argumen
  for name in names:
    print("Benua : ", name)


greet("Asia", "Amerika", "Europa", "Australia")

Benua :  Asia
Benua :  Amerika
Benua :  Europa
Benua :  Australia

# Phython Recursion

Berikut ini adalah contoh Fungsi rekursif untuk mencari faktorial suatu bilangan bulat.

Faktorial suatu bilangan adalah hasil kali semua bilangan bulat dari 1 sampai dengan bilangan tersebut. contoh faktorial dari 6 (di lambangkan dengan 6!) adalah 1*2*3*4*5*6 = 720

In [ ]:
def factorial(x):
  """ini adalah Fungsi rekursif
  untuk menemukan bilangan faktorial
  dari bilangan bulat"""

  if x == 1 :
    return 1
  else:
    return (x * factorial(x-1))

num = 4
print("Nilai Faktorial dari", num, 'adalah', factorial(num))

Nilai Faktorial dari 4 adalah 24

In [ ]:
def fibonnacci(x):
  """ini adalah Fungsi rekursif
  yg di gunakan untuk menghitung
  dalam deret Fibonnacci"""

  if x <= 0:
    return "Invalid input"
  elif x == 1:
    return [0]
  elif x == 2:
    return [0, 1]
  else:
    fib_series = fibonnacci(x-1)
    deret_fib = fib_series[-1] + fib_series[-2]
    fib_series.append(deret_fib)
    return fib_series

num = 4
fibonacci_sequence = fibonnacci(num)
print("Nilai Deret fibonnaccinya: ", fibonacci_sequence)

Nilai Deret fibonnaccinya:  [0, 1, 1, 2]

# Anonymous Function

In [ ]:
# program to show the show of lambda Function
double = lambda x: x * 2

print(double(6))

12

kita membutuhkan fungsi lambda ketika kita membutuhkan fungsi tanpa nama untuk waktu yg singkat.
dalam phyton, biasanya menggunakannya sebagai argumen ke fungsi tingkat tinggi(fungsi yg menggunakan fungsi lain sebagai argumen). Fungsi lambda digunakan bersama dengan fungsi bawaan seperti filter(),map() dll.

Fungsi filter() dalam phyton mengambil fungsi dan list sebagai argumen.
fungsi di panggil dengan semua item dalam list dan list baru dikembalikan yang berisi item yg fungsi di evaluasi ke True.
Berikut contoh pengimplementasian Filter() untuk memflter hanya angka genap dan list.

In [ ]:
# program to filter out only the even items form a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x % 2 == 0), my_list))

print(new_list)

[4, 6, 8, 12]

In [ ]:
# definisikan filter yg akan di filter
kata = "Aldi Setiawan"

# gunakan fungsi filter dengan lambda untuk memfilter huruf vokal
kata_vokal = "".join(filter(lambda x : x.lower()in 'aeiou', kata))

# cetak hasilnya
print(kata_vokal)

Aieiaa

fungsi map() dalam phyton mengambil fungsi dan list.
fungsi di panggil dengan semua item dalam list dan list baru di kembalikan yang berisi item yang di kembalikan oleh fungsi itu untuk setiap item.
berikut adalah contoh penggunaan fungsi map() untuk menggandakan semua item dalam list.

In [ ]:
# program to double each item in a list using map()
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: (x * 2), my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [ ]:
my_dict = {'a' : 2, 'b' : 4, 'c' : 5}

for nilai in my_dict.values():
  print(nilai)

2
4
5

In [ ]:
my_dict = {'a' : 2, 'b' : 4, 'c' : 5}

for item , nilai in my_dict.items():
  print(item)

a
b
c

# Global, Local and Non-Local Variabel

# Global variabel and Local variabel

In [ ]:
x = "global"

def foo():
  print("x dalam : ", x)

foo()
print("x luar: ", x)

x dalam :  global
x luar:  global

dalam kode diatas kita membuat x sebagai variabel global dan mendefinisikan foo() untuk mencetak variabel global x. terakhir, kita panggil foo() yg akan mencetak nilai x.
Bagaimana jika kita ingin mengubah nilai x di dalam suatu fungsi?

In [ ]:
x = "Matahari"

def foo():
  global x
  x = x * 3
  print(x)

foo()

MatahariMatahariMatahari

In [ ]:
x = "Aldi "
y = "Setiawan"

def foo():
  global x
  global y
  x = x + y
  print(x.capitalize())

foo()

Aldi setiawan

In [ ]:
z = "Matahari"

def foo():
  global z
  y = "bulan"
  z = z * 2
  print(z)
  print(y)

foo()

MatahariMatahari
bulan

# Non Local Variabel

In [68]:
def outer():
  x = "Local"

  def inner():
    nonlocal x
    x = "Non Local"
    print("inner : ", x)

  inner()
  print("outer:", x)

outer()

inner :  Non Local
outer: Non Local