<a href="https://colab.research.google.com/github/Aldistwn29/Phyton-fundamental/blob/main/FundamentalPhyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure

In [ ]:
# List

my_List = [] # creat empty list
print(my_List)
my_List = [1, 2, 3, 'example', 3.14] # creating List with data
print(my_List)

[]
[1, 2, 3, 'example', 3.14]

In [ ]:
# Dictionary
my_dict = {'Frist' : "Phyton", 'Second' : 'Java'}
print(my_dict)
my_dict['Second'] = 'C++' # Changing element
print(my_dict)
my_dict['Third'] = 'Ruby' # Adding key-value pair
print(my_dict)

{'Frist': 'Phyton', 'Second': 'Java'}
{'Frist': 'Phyton', 'Second': 'C++'}
{'Frist': 'Phyton', 'Second': 'C++', 'Third': 'Ruby'}

In [ ]:
# Tuple
my_tuple = (1, 2, 3, "myskill") # creating tuple
print(my_tuple)
print(my_tuple[0])
print(my_tuple[:])
print(my_tuple[3][3])

(1, 2, 3, 'myskill')
1
(1, 2, 3, 'myskill')
k

In [ ]:
# Set
my_set = {1, 2, 3, 4, 4, 4, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7,7} # creat set
print(my_set)
my_set.add(8) # add element to set
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}

# Contoh oprasi set

In [ ]:
my_set = {1, 2, 3, 4}
my_set2 = {3, 4, 5, 6}
print(my_set.union(my_set2),'ATAU BISA MENGGUNAKAN SIMBOL(|)', my_set | my_set2)
print(my_set.intersection(my_set2),'ATAU BISA MENGGUNAKAN SIMBOL(&)', my_set & my_set2)
print(my_set.difference(my_set2), 'ATAU BISA MENGGUNAKAN SIMBOL(-)', my_set - my_set2)
print(my_set.symmetric_difference(my_set2), 'ATAU BISA MENGGUNAKAN SIMBOL(^)', my_set ^ my_set2)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6} ATAU BISA MENGGUNAKAN SIMBOL(|) {1, 2, 3, 4, 5, 6}
{3, 4} ATAU BISA MENGGUNAKAN SIMBOL(&) {3, 4}
{1, 2} ATAU BISA MENGGUNAKAN SIMBOL(-) {1, 2}
{1, 2, 5, 6} ATAU BISA MENGGUNAKAN SIMBOL(^) {1, 2, 5, 6}
set()

# Conditional Statement

In [ ]:
# IF Statement
num = 5
if num > 0 :
  print(num,"is a Positive number")
  print("This a Statement is True")

5 is a Positive number
This a Statement is True

In [ ]:
# IF ELSE Statement
num = 5
if num >= 0:
  print("Positive Or Zero")
else:
  print("Negative Number")

Positive Or Zero

In [ ]:
# IF,ELIF,ELSE Statement
num = 7-8
if num > 0:
  print("Positive Number")
elif num == 0:
  print("Zero")
else:
 print("Negative Number")

Negative Number

In [ ]:
# IF nested
num = 9-10
if num >= 0:
  if num == 0:
    print("Zero")
  else:
     print("Positive Number")
else:
  print("Negative Number")

Negative Number

# Loops

In [84]:
# While loops
num = 1
odd_nums = []
while num :
  if num % 2 != 0:
    odd_nums.append(num)
  if num >= 20:
    break
  num += 1

print("Odd Number: ",odd_nums)

Odd Number:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [96]:
num = 5
even_nums = []
while num:
  if num % 2 == 0:
    even_nums.append(num)
  if num >= 20:
    break
  num +=1

print("even number: ", even_nums)

even number:  [6, 8, 10, 12, 14, 16, 18, 20]