<a href="https://colab.research.google.com/github/Aldistwn29/Phyton-fundamental/blob/main/List_Fundamental_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List

In [ ]:
mylist = ["Frasa","Rara","Fauziah"]

# Allow duplicates

In [ ]:
mylist = ["myskill", "learning", "portal", "myskill", "student"]
print(mylist)

['myskill', 'learning', 'portal', 'myskill', 'student']

# List lengeth

In [ ]:
print(len(mylist))

5

# any datatype in list

In [ ]:
list1 = ["A", "B", "C"]
list2 = [1, 2, 3, 4, 5]
list3 = [True, False, True, False]

In [ ]:
lists = ["myskill", 25, False, 22, "student"]

# type

In [ ]:
print(type(lists))

<class 'list'>

# list konstruktor

In [ ]:
mylist = list(("apps", "os", "version")) #hrs menggunakan double kurung siku
print(list)

<class 'list'>

# Modification of list

# index

In [ ]:
print(mylist[0])

apps

# Negative index

In [ ]:
print(mylist[-1])

version

# index range

In [ ]:
print(mylist[1:3])

['os', 'version']

In [ ]:
print(mylist[:2])

['apps', 'os']

In [ ]:
print(mylist[1:])

['os', 'version']

# change element value

In [ ]:
mylist[0] = "linux"
print(mylist)

['linux', 'os', 'version']

In [ ]:
mylist[1:3] = ["android", "nouget"]
print(mylist)

['linux', 'android', 'nouget']

In [ ]:
print(len(mylist))

3

In [ ]:
mylist

['linux', 'android', 'nouget']

In [ ]:
mylist2 = ["pisang", "melon", "jeruk", "semangka", "anggur", "durian"]
mylist2[2:3] = ["rambutan"]
print(mylist2)

['pisang', 'melon', 'rambutan', 'semangka', 'anggur', 'durian']

In [ ]:
print(len(mylist2))

7

In [ ]:
mylist2 [2:3] = ["jeruk", "ceri"]
print(mylist2)

['pisang', 'melon', 'jeruk', 'ceri', 'ceri', 'semangka', 'anggur', 'durian']

In [ ]:
print(len(mylist2))

8

jika kita memasukan lebih banyak item daripada yang kita ganti, item baru akan disisipkan di tempat yg kita tentukan, dan item yang tersisa. contoh

In [ ]:
thislist = ["appel", "banana", "charry"]
thislist[1:2] = ["blackcurrant", "watermalon"]
print(thislist)

['appel', 'blackcurrant', 'watermalon', 'charry']

jika kita memasukan lebih sedikit item daripada yg kita ganti, item baru akan di titipkan di tempat yg kita tentukan, dan item yg tersisa akan bergerak. contoh

In [ ]:
thislist = ["appel", "banana", "charry"]
thislist[1:3] = ["watermalon"]
print(thislist)

['appel', 'watermalon']

# Add items to list

append()

In [ ]:
thislist = ["apple", "banana", "charry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'charry', 'orange']

insert()

In [ ]:
thislist = ["apple", "banana", "charry"]
thislist.insert(2, "orange")
print(thislist)

['apple', 'banana', 'orange', 'charry']

extend()

In [ ]:
thislist = ["apple", "banana", "charry"]
thistuple =("mango", "pineapple", "papaya")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'charry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "charry"]
tropical =["orange", "kiwi"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'charry', 'orange', 'kiwi']

# Remove item from list

remove()

In [ ]:
thislist = ["apple", "banana", "charry"]
thislist.remove("banana")
print(thislist)

['apple', 'charry']

pop()

In [ ]:
thislist = ["apple", "banana", "charry"]
thislist.pop(1)
print(thislist)

['apple', 'charry']

del

In [ ]:
thislist = ["apple", "banana", "charry"]
del thislist[0]
print(thislist)

['banana', 'charry']

clear

In [ ]:
thislist = ["apple", "banana", "charry"]
thislist.clear()
print(thislist)

[]

# Loop in List

for loop

In [2]:
thislist = ["Apple", "Banana", "Mango"]
for i in thislist:
  print(i)

Apple
Banana
Mango

In [14]:
thislist = ["Apple", "Banana", "Mango"]
for i in thislist:
  if i == "Apple":
    print(i)

Apple

In [6]:
thislist = ["Apple", "Banana", "Mango"]
for i in range(len(thislist)):
  print(thislist[i])

Apple
Banana
Mango

In [9]:
thislist = ["Apple", "Banana", "Mango"]
for i in range(len(thislist)):
  if thislist[i] == "Banana":
    print(thislist[i])

Banana

While

In [9]:
thislist = ["Apple", "Banana", "Mango", "Cheryy", "Blackcurrent", "Wattermelon"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

Apple
Banana
Mango
Cheryy
Blackcurrent
Wattermelon

list comprehension

In [33]:
thislist = ["Apple", "Banana", "Mango", "Cheryy", "Blackcurrent", "Wattermelon"]
print([x for x in thislist])

['Apple', 'Mango', 'Cheryy', 'Blackcurrent', 'Wattermelon']

# List Comprehension

newlist = [ exprssion for item in itrable if condition == True]

In [58]:
thislist = ["apple", "banana", "mango", "cheryy", "kiwi", "wattermelon"]

newlist = [x for x in thislist if "a" in x]

print(newlist)

['apple', 'banana', 'mango', 'wattermelon']

menggunakan kondisi

In [13]:
newlist = [x for x in thislist if x != "apple" ]
print(newlist)

['banana', 'mango', 'cheryy', 'kiwi', 'wattermelon']

iteratif

In [14]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

expression

In [20]:
newlist = [x.upper() for x in thislist]
print(newlist)

['APPLE', 'BANANA', 'MANGO', 'CHERYY', 'KIWI', 'WATTERMELON']

In [21]:
newlist = [x.upper() for x in thislist if "a" in x]
print(newlist)

['APPLE', 'BANANA', 'MANGO', 'WATTERMELON']

multipple condition

In [59]:
newlist = [x if x != "banana" else "stawberry" for x in thislist]
print(newlist)

['apple', 'stawberry', 'mango', 'cheryy', 'kiwi', 'wattermelon']

In [60]:
fruits = ['apple', 'mango', 'cheryy', 'kiwi', 'wattermelon']
newlist = [x if x != "banana" else "stawberry" for x in fruits]
print(newlist)
# jadi code di atas akan menghasilkan output yg sama dengan variabel fruits
# dalam kondisinya di sebutkan bahwa menggantikan nilai dengan "banana"
# dan stawbery jika ada, dan jika tidak ada "banana" dalam thislist, maka
# newlist akan identik/sama dengan variebel fruits

['apple', 'mango', 'cheryy', 'kiwi', 'wattermelon']

# List Sorting

sort ascending(menaik)

In [62]:
thislist = ["apple", "orange", "mango", "kiwi", "pineapple"]
thislist.sort()
print(thislist)

['apple', 'kiwi', 'mango', 'orange', 'pineapple']

jadi penggunaan ascending(naik) dalam kasus alphabet/alpha numerik itu susunanya menaik / dari abjad yg paling awal menuju ke abjad paling belakang

In [63]:
thislist = [200, 150, 90, 70, 40, 25, 10]
thislist.sort()
print(thislist)

[10, 25, 40, 70, 90, 150, 200]

jadi penggunaan discending dalam kasus numerik/angka itu susunanya menaik / dari angka yg paling kecil menuju ke angka paling besar

sort discending

In [67]:
thislist = ["apple", "orange", "mango", "kiwi", "pineapple"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'apple']

jadi penggunaan discending dalam kasus alphabet/alpha numerik itu susunanya menurun / dari abjad yg paling belakang menuju ke abjad paling awal

In [68]:
thislist = [200, 150, 90, 70, 40, 25, 10]
thislist.sort(reverse = True)
print(thislist)

[200, 150, 90, 70, 40, 25, 10]

jadi penggunaan discending dalam kasus numerik(angka) itu susunanya menurun / dari angka yg paling besar menuju ke angka paling kecil

# Copy list

In [74]:
thislist = ["wine", "pear", "longan"]
mylist = thislist.copy()
print(mylist)

['wine', 'pear', 'longan']

# Joint List

Using plus(+)

In [75]:
list1 = ["a", "l", "d", "i"]
list2 = [1, 2, 3, 4, 5]

list3 = list1 + list2
print(list3)

['a', 'l', 'd', 'i', 1, 2, 3, 4, 5]

Itreasi(perulangan)

In [91]:
list1 = ["a", "l", "d", "i"]
list2 = [1, 2, 3, 4, 5]

for x in list1:
  list2.append(x)

print(list2)

[1, 2, 3, 4, 5, 'a', 'l', 'd', 'i']

In [95]:
list1 = ["a", "l", "d", "i"]
list2 = [1, 2, 3, 4, 5]

for x in list1:
  list2.append(x)
  print(list2)

[1, 2, 3, 4, 5, 'a']
[1, 2, 3, 4, 5, 'a', 'l']
[1, 2, 3, 4, 5, 'a', 'l', 'd']
[1, 2, 3, 4, 5, 'a', 'l', 'd', 'i']

In [96]:
list1 = ["a", "l", "d", "i"]
list2 = [1, 2, 3, 4, 5]

for x in list2:
  list1.append(x)

print(list1)

['a', 'l', 'd', 'i', 1, 2, 3, 4, 5]

extend

In [98]:
list1 = ["a", "l", "d", "i"]
list2 = [1, 2, 3, 4, 5]

list1.extend(list2)
print(list1)

['a', 'l', 'd', 'i', 1, 2, 3, 4, 5]