<a href="https://colab.research.google.com/github/Aldistwn29/Phyton-fundamental/blob/main/oop_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class



*   Class dibuat dengan kyword class
*   Atribut adalah variabel yg dimiliki
oleh sebuah kelas
*   Atribut selalu bersifat publik dan dapat diakses menggunkan oprator titik(.) Mis: Myclass, Myattribut

In [ ]:
class Classname:
  #Statement-1

  #Statement-N

In [ ]:
# pendefinisian class
class Dog:
  pass

# Object

In [ ]:
obj = Dog()

ini akan membuat objek bernama obj dari kelas Dog yg di definiskan di atas. Sebelum menyekam jauh ke dalam objek dan kelas, mari kita pahami beberapa keta kunci yg akan kita gunakan saat berjalan dengan objek dan kelas.
self in class:
1. Metode kelas harus memiliki parameter tamnahan pertama dalam definisi metode. Kita tidak memberikan nilai untuk parameter ini saat kita memanggil metode. Python menyediakannya
2. Jika kita memiliki metode tidak membutuhkan argumen, maka kita masih harus memiliki satu  argumen.
3. ini mirip dengan pointer ini di C++ dan referensi ini di Java. Ketika kita memanggil metode objek ini sebagai myobject.method(arg1, arg2), ini secara otomatis di ubah oleh python menjadi MyClass(myobjek,arg1,arg2)

Metode init
Metode init mirip dengan konstruktor di C++ dan Java. ini dijalankan segera setelah objek kelas dipakai. Metode ini berguna untuk melakukan inisialisasi apa pun yg ingin kita lakukan dengan objek kita.

In [13]:
class Dog:

  # class attribut
  attrl = "mamal"

  # instance attribut
  def __init__(self, name):
    self.name = name

# Drive code
# Object instantiation
Roger = Dog("Roger")
Tommy = Dog("Tommy")

# Accessing class attributes
print("Roger is a {}".format(Roger.__class__.attrl))
print("Tommy is also a {}".format(Tommy.__class__.attrl))

# Accessing instancing attributes
print("My name is {}".format(Roger.name))
print("My name is {}".format(Tommy.name))

Roger is a mamal
Tommy is also a mamal
My name is Roger
My name is Tommy

2. Membuat kelas dan objek dengan metode.

In [17]:
class Dog:

  # class attribut
  attrl = "mamal"

  # Instance attribut
  def __init__(self, name):
    self.name = name

  def speak(self):
    print("My name is {}".format(self.name))

# Driving Code
# Object instantiation
Roger = Dog("Roger")
Tommy = Dog("Tommy")

# Accessing class methods
Roger.speak()
Tommy.speak()

My name is Roger
My name is Tommy

Inheritance(pewarisan)

In [68]:
# parent class
class person(object):

  # __init__ is Know as the constructor
  def __init__(self, name, gelar, nim):
    self.name = name
    self.gelar = gelar
    self.nim = nim

  def display(self):
    print(self.name)
    print(self.gelar)
    print(self.nim)

  def details(self):
    print("My Name is {}".format(self.name))
    print("Gelar:  {}".format(self.gelar))
    print("Nim:  {}".format(self.nim))

# Child class
class Employee(person):
  def __init__(self, name, gelar, nim, salary, post):
    self.salary = salary
    self.post = post
    # invoking the __init__ of the perent class
    person.__init__(self, name, gelar, nim)

  def details(self):
    print("My name is {}".format(self.name))
    print("Gelar: {}".format(self.gelar))
    print("NIM: {}".format(self.nim))
    print("Salary : {}".format(self.salary))
    print("post: {}".format(self.post))

# creation of an object variabel or an intance
a = Employee("Aldi Setiawan", "S.KOM", 20220040054, 50000000, 'Mahasiswa')

# callimh a finction of the class Person Using
# its instance
a.display()
a.details()

Aldi Setiawan
S.KOM
20220040054
My name is Aldi Setiawan
Gelar: S.KOM
NIM: 20220040054
Salary : 50000000
post: Mahasiswa