<a href="https://colab.research.google.com/github/Aldistwn29/Phyton-fundamental/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is String?

In [ ]:
'Myskill' or "Myskill"

'Myskill'

In [ ]:
print("Myskill providing course"[12])

i

# Create String

In [ ]:
# Creating a String
# with single Quetes
String1 = 'Welcome to Myskill'
print("String with the use of single Quotes")
print(String1)

# Creatin a String
# with double Quetes
String ="i'm Imron"
print("\nString with the use of single Quotes")
print(String1)

# Creating a String
# with triple Quetes
String1 = '''i'M Myskill Student And i Delovop "Skill"'''
print("\nString with the use of Tripel Quotes")
print(String1)

# Creating String with triple
# Quetes allows multiple lines
String1 = '''My skill
              For
              Life'''
print("\nCreating a multiline String ")
print(String1)

String with the use of single Quotes
Welcome to Myskill

String with the use of single Quotes
Welcome to Myskill

String with the use of Tripel Quotes
i'M Myskill Student And i Delovop "Skill"

Creating a multiline String
My skill
              For
              Life

# Access Character in Python String

In [ ]:
String1 = "Myskill"
print("initial String: ")
print(String1)

# Printing Frist Character
print("\nFrist Character of String is: ")
print(String1[0])

# Printing Last Character
print("\nLast Character of String is: ")
print(String1[-1])

initial String:
Myskill

Frist Character of String is:
M

Last Character of String is:
l

# Reverse String

Dengan Mengakses karakter Dari Sebuah String, kita juga dapat membalikannya. kita dapat Membalikan skrg dengan menulis [::-1} dan sekarang akan di balik

In [ ]:
# program to revers a string
msk = "aldisetiawan"
print(msk[::-1])

nawaitesidla

In [ ]:
msk = "aldisetiawan"

# Reverse the string using  reversed and join function
msk = "".join(reversed(msk))

print(msk)

nawaitesidla

# String Slicing

untuk mengakses beberbagai karakter dalam String, Metode slicing dilakukan dengan menggunakan operator Slicing(titik dua)

In [ ]:
# creating a String
String1 = "Myskill"
print("initial String: ")
print(String1)

# printing 3rd to 7rd character
print("\nSlicing from 3-7: ")
print(String1[3:7])

# printing character betwen
# 3rd and 2rd last character
print("\nSlicing character betwen" + "3rd and 2rd last character")
print(String1[3:-1])

initial String:
Myskill

Slicing from 3-7:
kill

Slicing character betwen3rd and 2rd last character
kil

# Delete and Update String

# Update Character

In [ ]:
# Phyton Program to Update
# character of a string
String1 = "Hello i'm myskill student"
print("initial String: ")
print(String1)

# Update a character of the String
## As phyton String are immutable, they don't support item updation directly
### There are following two ways
#1
list1 = list(String1)
list1[3] = 'p'
String2 = "".join(list1)
print("Updating character at 3rd index: ")
print(String2)

#2
String3 = String1[0:5] + 'w' + String1[5:]
print(String3)

initial String:
Hello i'm myskill student
Updating character at 3rd index:
Helpo i'm myskill student
Hellow i'm myskill student

# Update Entire String

In [ ]:
String1 = "Hello i'm Aldi"
print("initial String: ")
print(String1)

# Update a string
String1 = "Welcome to myskill"
print("Update String: ")
print(String1)

initial String:
Hello i'm Aldi
Update String:
Welcome to myskill

# Delete Character

In [ ]:
String1 = "Hello, welcome to myskill"
print("initial String: ")
print(String1)

# Deleting a character of the string
String1 = String1[0:2] + String1[3:]
print("\nDeleting character at 2nd index: ")
print(String1)

initial String:
Hello, welcome to myskill

Deleting character at 2nd index:
Helo, welcome to myskill

# Deleting Entrie String

In [ ]:
String1 = "Welcome to Myskill"
print("initial String: ")
print(String1)

# Deleting a String
# with the use of del
del String1
print("\nDeleting Entire String: ")
print(String1)

initial String:
Welcome to Myskill

Deleting Entire String:

NameError: ignored

# Escape Squence in Phython

In [ ]:
# initial String
String1 = '''i'm "Smart"'''
print("initial String with use of Triple Quates: ")
print(String1)

#Escaping single Quetes
String1 = 'I\'m "smart"'
print("\nEscaping Single Quetes: ")
print(String1)

# Escaping Double Quetes
String1 = "i'm \"Smart\""
print("\nEscaping Double Quetes: ")
print(String1)

# Printing paths with the
# use of Escaping Squence
String1 = "c:\\Phython\\myskill\\"
print("\nEscaping Squence: ")
print(String1)

# Printing paths with the
# use of tab
String1 = "Hi\tSmartGuy"
print("\ntab")
print(String1)

# Printing path with the
# use of New Line
String1 = "Phyton\nMyskill"
print("\nNew Line: ")
print(String1)

initial String with use of Triple Quates:
i'm "Smart"

Escaping Single Quetes:
I'm "smart"

Escaping Double Quetes:
i'm "Smart"

Escaping Squence:
c:\Phython\myskill\

tab
Hi	SmartGuy

New Line:
Phyton
Myskill

# Formatting String

In [ ]:
# Default order
String1 = "{} {} {}".format("Myskill", "For", "Learning")
print("Print String in default order: ")
print(String1)

# Positional Formatting
String1 = "{1} {0} {2}".format("Myskill", "For", "Learning")
print("\nPrint String in Positional Formating: ")
print(String1)

# Keyword Formatting
String1 = "{i} {f} {g}".format(g= "Myskill", f="for", i="Learning")
print("\nPrint String in order of keyword: ")
print(String1)

Print String in default order:
Myskill For Learning

Print String in Positional Formating:
For Myskill Learning

Print String in order of keyword:
Learning for Myskill

Bilangan Bulat seperti Biner, heksadesimal, dll. dan flot dapat di tampilkan dalam bentuk ekponen dengan menggunkan penentu format.

In [ ]:
# Formatting of Integer
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

#Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\nnone-sixth is: ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

none-sixth is:
0.17

sebuah string dapat dibiarkan() atau tengah(^) dibenarkan dengan penggunaan penentuan format, di pisahkan oleh titik dua(:)

In [ ]:
# String aligement
String1 = "|{:<10}|{:^10}|{:>10}|".format("Myskill","For","Learning")
print("\nLeaft cunter and right aligemnt with Formatting: ")
print(String1)

# To demonstrate allgiment of space
String1 = "\n{0:^16} wes founded in {1:<4}!".format("MyskillForLearning ",2021)

print(String1)

Leaft cunter and right aligemnt with Formatting:
|Myskill   |   For    |  Learning|

MyskillForLearning  wes founded in 2021!

Pemformatan gaya lama dilakukan tanpa menggunakan metode format dengan menggunkan % operator

In [ ]:
integer = 12.3456789
print("\nFormatting in 3.2f% format: ")
print("the value of integer in %3.2f" % integer)
print("\nFormatting in 3.4f% format: ")
print("the value of integer in %3.4f" % integer)

Formatting in 3.2f% format:
the value of integer in 12.35

Formatting in 3.4f% format:
the value of integer in 12.3457